<template>
  <h2>Dashboard</h2>
</template>

<script>
export default {
  name: 'Dashboard',

  data () {
    return {
      isCollapsed: false
    }
  },

  computed: {
  }
}
</script>

<style lang="scss" scoped>

</style>
