<template>
  <Form ref="loginForm"
        :model="loginForm"
        :style="{ position: 'absolute', top: '50%', left: '50%', transform: 'translate(-50%, -50%)', 'max-width': '100%', width: '350px' }"
        :rules="rules">
    <FormItem prop="username">
      <Input type="text" size="large" v-model="loginForm.username" placeholder="Username">
      <Icon type="ios-person-outline" slot="prepend"></Icon>
      </Input>
    </FormItem>
    <FormItem prop="password">
      <Input type="password" size="large" v-model="loginForm.password" placeholder="Password">
      <Icon type="ios-lock-outline" slot="prepend"></Icon>
      </Input>
    </FormItem>
    <FormItem>
      <Button type="primary" size="large" long @click="handleSubmit('loginForm')">Sign In</Button>
    </FormItem>
  </Form>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import authHelper from '@/helper/auth'

export default {
  name: 'Login',
  data () {
    return {
      loginForm: {
        username: '',
        password: ''
      },
      rules: {
        username: [
          { required: true, message: 'Please fill in the username name', trigger: 'change' }
        ],
        password: [
          { required: true, message: 'Please fill in the password.', trigger: 'change' }
        ]
      }
    }
  },

  methods: {
    ...mapActions('authentication', [
      'login'
    ]),
    handleSubmit (name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          const { username, password } = this.loginForm
          this.login({ username, password })
            .then((success) => {
              if (success) {
                if (this.$route.query.redirect) {
                  this.$router.push({ path: this.$route.query.redirect })
                } else {
                  this.$router.push({ name: 'DashboardPage' })
                }
              } else {
                this.$Message.error('Wrong username or password')
              }
            })
        }
      })
    }
  },

  beforeCreate () {
    if (authHelper.isLoggedIn()) {
      this.$router.push({ name: 'DashboardPage' })
    }
  },

  beforeRouteEnter (to, from, next) {
    if (authHelper.isLoggedIn()) {
      next({ name: 'DashboardPage' })
    }

    next()
  }
}
</script>
