<template>
  <div :style="{ margin: '15px' }">
    <Card>
      <Form ref="postForm"
            :model="postForm"
            :rules="rules">
        <FormItem prop="title">
          <div :style="{ display: 'flex' }">
            <Input v-model="postForm.title" size="large" placeholder="Post title" :style="{ 'margin-right': '10px' }" />
            <Button type="primary" @click="handleSave">Save</Button>
          </div>
        </FormItem>
      </Form>

      <vue-editor :style="{ 'margin-top': '15px' }" v-model="content"></vue-editor>
    </Card>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import postsApi from '@/apis/posts'

export default {
  name: 'Posts',
  components: {
    VueEditor
  },

  data () {
    return {
      postForm: {
        title: ''
      },
      content: '',
      rules: {
        title: [
          { required: true, message: 'Please input the title', trigger: 'blur' }
        ]
      },
      isSaving: false
    }
  },

  methods: {
    save () {
      const now = new Date()
      return postsApi.createPost({
        title: this.postForm.title,
        content: this.content,
        createdAt: now.getTime(),
        updatedAt: now.getTime()
      })
    },
    handleSave () {
      if (this.isSaving) return

      this.$refs['postForm'].validate((valid) => {
        if (valid) {
          this.isSaving = true
          this.save().then(() => {
            this.$router.push({ name: 'PostsPage' })
          }).catch(() => {
            this.$Message.error('Failed to save the post')
          }).finally(() => {
            this.isSaving = false
          })
        }
      })
    }
  }
}
</script>
