<template>
  <div :style="{ margin: '15px' }">
    <div :style="{ display: 'flex', 'justify-content': 'space-between' }">
      <Button type="primary" shape="circle" icon="md-create"
              :style="{ 'margin-bottom': '15px' }"
              @click="gotoNewPostPage">New post
      </Button>

      <Input search
             size="large"
             placeholder="Enter text"
             style="width: auto"
             @on-search="handleSearch"
      />
    </div>

    <post v-for="post in posts"
          :key="post.id"
          :post="post"
          @delete="handleDelete"
          @edit="handleEdit">
    </post>

    <Page :style="{ 'margin-top': '15px', 'text-align': 'center' }"
          :current.sync="currentPage"
          :page-size-opts="[10, 50, 100]"
          :total="total"
          @on-change="handlePageChange"
          @on-page-size-change="handlePageSizeChange"
          show-sizer>
    </Page>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Post from '@/components/Post.vue'
import * as PostMutations from '@/store/modules/post'

export default {
  components: { Post },
  name: 'Posts',
  data () {
    return {}
  },

  computed: {
    ...mapState('post', [
      'posts',
      'total'
    ]),
    currentPage: {
      get () {
        return this.$store.state.post.query.page
      },
      set (page) {
        this.$store.commit(`post/${PostMutations.CHANGE_QUERY_PAGE}`, page)
      }
    }
  },

  methods: {
    ...mapActions('post', [
      'fetchPosts',
      'deletePost',
      'changeLimit',
      'search'
    ]),
    gotoNewPostPage () {
      this.$router.push({ name: 'NewPostPage' })
    },
    handleEdit (post) {
      this.$router.push({
        name: 'EditPostPage',
        params: {
          id: post.id.toString()
        }
      })
    },
    handleDelete (post) {
      this.$Modal.confirm({
        title: 'Confirmation',
        content: 'Are you sure to delete this post?',
        loading: true,
        onOk: () => {
          this.deletePost(post.id).then(() => {
            this.$Modal.remove()
            this.$Message.success('The post has been deleted sucessfully')
          }).catch(() => {
            this.$Message.error('Failed to delete the post')
          })
        }
      })
    },
    handlePageChange () {
      this.fetchPosts()
    },
    handlePageSizeChange (pageSize) {
      this.changeLimit(pageSize)
    },
    handleSearch (keyword) {
      this.search(keyword)
    }
  },

  created () {
    this.fetchPosts()
  },

  beforeDestroy () {
    this.$store.commit(`post/${PostMutations.RESET_STATE}`)
  }
}
</script>
