<template>
  <Card class="post"
        v-on:mouseleave.native="showOperations = false"
        v-on:mouseover.native="showOperations = true">
    <div class="title-block">
      <span class="title">{{ postTitle }}</span>
      <div class="title-block__operations" v-if="showOperations">
        <span class="lbl-edit" @click="$emit('edit', post)">Edit</span> |
        <span class="lbl-delete" @click="$emit('delete', post)">Delete</span>
      </div>
    </div>
    <div>{{ post.createdAt | date('DD/MM/YYYY HH:mm:ss') }}</div>
  </Card>
</template>

<script>
export default {
  name: 'Post',

  props: {
    post: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      showOperations: false
    }
  },

  computed: {
    postTitle () {
      return this.post.title
    }
  }
}
</script>

<style lang="scss" scoped>
  .post {
    + .post {
      margin-top: 5px;
    }

    .clickable {
      &:hover {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .title-block {
      display: flex;
      justify-content: space-between;

      .title {
        font-weight: 600;
        font-size: 16px;
      }

      .title-block__operations {
        .lbl-delete {
          @extend .clickable;
          color: #ed4014;
        }

        .lbl-edit {
          @extend .clickable;
          color: #2d8cf0;
        }
      }
    }
  }
</style>
