<template>
  <div id="app">
    <Layout :style="{ minHeight: '100vh' }">
      <Sider v-show="user" collapsible :collapsed-width="78" v-model="isCollapsed">
        <Menu :active-name="$route.name" theme="dark" width="auto" :class="menuitemClasses">
          <MenuItem name="DashboardPage" to="/dashboard">
            <Icon type="ios-apps-outline"></Icon>
            <span>Dashboard</span>
          </MenuItem>
          <MenuItem name="PostsPage" to="/posts">
            <Icon type="ios-document-outline"></Icon>
            <span>Posts</span>
          </MenuItem>
        </Menu>
      </Sider>
      <Layout>
        <Header v-show="user" :style="{ background: '#fff', boxShadow: '0 2px 3px 2px rgba(0,0,0,.1)', 'text-align': 'right' }">
          <span v-if="user">{{ user && user.username }}</span>,
          <Button type="text" @click="logout">Logout</Button>
        </Header>
        <Content>
          <router-view/>
        </Content>
      </Layout>
    </Layout>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import jwtDecode from 'jwt-decode'
import * as AuthenticationMutations from '@/store/modules/authentication'
import authHelper from '@/helper/auth'

export default {
  name: 'App',
  data () {
    return {
      isCollapsed: false
    }
  },
  computed: {
    ...mapState('authentication', [
      'user'
    ]),
    menuitemClasses: function () {
      return [
        'menu-item',
        this.isCollapsed ? 'collapsed-menu' : ''
      ]
    }
  },

  methods: {
    ...mapMutations('authentication', {
      setUser: AuthenticationMutations.SET_USER
    }),
    logout () {
      authHelper.logout()
      this.setUser(undefined)
      this.$router.push({ name: 'LoginPage' })
    }
  },

  created () {
    const token = authHelper.getToken()
    this.setUser(token ? jwtDecode(token) : undefined)
  }
}
</script>

<style lang="scss" scoped>
  .layout-con {
    height: 100%;
    width: 100%;
  }

  .menu-item span {
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
  }

  .menu-item i {
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
  }

  .collapsed-menu span {
    width: 0px;
    transition: width .2s ease;
  }

  .collapsed-menu i {
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
  }
</style>
